h1 {
    color:blueviolet;
}

body {
    background-color: black;
}

p {
    color: white;
}

ul {
    width: 50%;
    color: white;
    border: 2px dashed;
    text-align: center;
    list-style: none; 
    padding-left: 0;
    width: 50%;
    
}

ul li {
    display: inline-block;
    border: 3px outset;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
  }